<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src='/jquery/jquery.js'></script>  
  <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
  <script type="text/javascript" src='/bootstrap/js/bootstrap.js'></script>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <h1><img src="/images/logo.png" alt="LOGO" class="rounded-circle" width="158" height="85">聖欣餅舖</h1>
    </a>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <nav>
          <div class="nav flex-column nav-pills" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="v-pills-news-tab" data-toggle="tab" href="#v-pills-news" role="tab" aria-controls="v-pills-news" aria-selected="true">最新消息</a>
            <a class="nav-item nav-link" id="v-pills-products-tab" data-toggle="tab" href="#v-pills-products" role="tab" aria-controls="v-pills-products" aria-selected="true">產品介紹</a>
            <a class="nav-item nav-link" id="v-pills-order-tab" data-toggle="tab" href="#v-pills-order" role="tab" aria-controls="v-pills-order" aria-selected="false">訂購說明</a>
            <a class="nav-item nav-link" id="v-pills-faq-tab" data-toggle="tab" href="#v-pills-faq" role="tab" aria-controls="v-pills-faq" aria-selected="false">常見問題(FAQ)</a>
            <a class="nav-item nav-link" id="v-pills-contact-tab" data-toggle="tab" href="#v-pills-contact" role="tab" aria-controls="v-pills-contact" aria-selected="false">連絡我們</a>
          </div>
        </nav>
      </div>
      <div class="col-md-10">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-news" role="tabpanel" aria-labelledby="v-pills-news-tab">最新消息...</div>
          <div class="tab-pane fade" id="v-pills-products" role="tabpanel" aria-labelledby="v-pills-products-tab">產品介紹...</div>
          <div class="tab-pane fade" id="v-pills-order" role="tabpanel" aria-labelledby="v-pills-order-tab">訂購說明...</div>
          <div class="tab-pane fade" id="v-pills-faq" role="tabpanel" aria-labelledby="v-pills-faq-tab"><% include faq %></div>
          <div class="tab-pane fade" id="v-pills-contact" role="tabpanel" aria-labelledby="v-pills-contact-tab">連絡我們...</div>
        </div> 
      </div>   
    </div>
  </div>
</body>
</html>
